<div class="centered">
  <h1 class="centered-text">Ready Player One</h1>


  <div class="form_error"><%= @form_error %></div><br>

  <%= form_for :session, url: '/login', class: 'pure-form pure-form-aligned login_form' do |f| %>
      <div class="pure-control-group">
        <%= label_tag :username, 'username' %>
        <%= f.text_field :username %>
      </div>

      <div class="pure-control-group">
        <%= label_tag :password, 'password' %>
        <%= f.password_field :password %>
      </div>

      <div class="pure-controls">
        <%= f.submit "Submit" %>
      </div>
  <% end %>

<a href="/users/new" class="not-member">Not yet a member?</a><br><br>

</div><br><br><br><br>
