<div class="centered">
  <h1 class="centered-text">Insert Coin</h1>

  <%= form_for @user, class: 'pure-form pure-form-aligned reg_form' do |f| %>
  <div class="pure-control-group">
    <%= f.label :username, 'username' %>
    <div>
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="pure-control-group">
    <%= label_tag :password, 'password' %>
    <div>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="pure-control-group">
    <%= label_tag :password_confirmation, 'password_confirmation' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="pure-control-group">
    <%= label_tag :email, 'email' %>
    <%= f.text_field :email %>
  </div><br>
  <div ="pure-controls">
    <%= f.submit "Submit" %>
  </div>
  <a class="centered already_member" href="/login">Already a member?</a><br><br>
<% end %>
